* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

body {
    width: 100%;
    height: 100vh;
}

.customer-deatils-container{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.customer-details{
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);;
    width: 60%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
}

.customer-information{
    width: 85%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-banner{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.customer-banner p{
    font-size: 2rem;
    color: var(--brown);
}

.customer-location{
    width: 25%;
    height: 65%;
    display: flex;
    justify-content: flex-end;
}

.food-reached-status{
    width: 85%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-contact{
    width: 20%;
    height: 65%;
}

.customer-payment{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-payment h4{
    font-size: 1.8rem;
    color: var(--brown);
}

.customer-payment h3{
    font-size: 2.3rem;
    font-family: 'outfit';
}

.customer-status{
    width: 18%;
    height: 65%;
}

.customer-status button,.customer-contact button,.customer-location button{
    border: 0px solid transparent;
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
    height: 90%;
    font-size: 1.1rem;
    background: linear-gradient(130deg, var(--brown), #ff520271);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.customer-status button:hover,.customer-contact button:hover,.customer-location button:hover{
    filter: brightness(1.3);
}
