body {
  height: auto;
}

.active-container {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.active-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b2f0a;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 2px solid #d17a4a;
  padding-bottom: 1rem;
}

.accept-ord {
  width: 16%;
  height: 50px;
}

.accept-ord button {
  background: linear-gradient(130deg, var(--brown) 40%, #ff6b2771);
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(107, 47, 10, 0.25);
}

.accept-ord button:hover {
  filter: brightness(1.4);
}

.accepted-body , .active-body{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* exactly 2 columns */
  gap: 2rem 4rem;
  width: 100%;
}

.order-card {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 8px 30px rgba(107, 47, 10, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-card:hover {
  box-shadow: 0 20px 45px rgba(107, 47, 10, 0.4);
}

.order-id {
  font-size: 1.3rem;
  color: #6b2f0a;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d17a4a;
  padding-bottom: 0.5rem;
}

.order-names {
  font-size: 1.2rem;
  color: #4b2e0e;
  margin-bottom: 1rem;
}

.order-items {
  font-size: 1.1rem;
  color: var(--brown);
  background-color: #fff7f2;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 2px 5px rgba(107, 47, 10, 0.1);
  overflow-y: auto;
  scrollbar-width: none;
  margin-bottom: 1rem;
}

.order-total {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--brown);
  margin-bottom: 1rem;
}

.order-btns {
  display: flex;
  gap: 15rem;
}

.order-btns a,
.order-btns button {
  flex: 1;
}

.reject-btn,
.accept-btn {
  cursor: pointer;
  border-radius: 7px;
  padding: 0.75rem 1.2rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(107, 47, 10, 0.2);
}

.reject-btn {
  background: transparent;
  border: 1px solid var(--brown);
  color: var(--brown);
}

.reject-btn:hover {
  background: var(--lpeach);
}

.accept-btn {
  background: linear-gradient(130deg, var(--brown) 40%, #ff6b2771);
  color: white;
}

.accept-btn:hover {
  filter: brightness(1.4);
}