.contact-container{
  display: flex;
  width: 70%;
  height: 88vh;
  border-radius: 35px;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.242);
}

.info{
  background-color: var(--brown);
  width: 33%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.logo{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h2{
  width: 80%;
  font-size: 3rem;
  color: var(--peach);
}

.inner-info{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.inner-info h2{
  color: var(--peach);
  font-size: 1.7rem;
}

.social-modes .social{
  width: 21%;
  height: 42%;
}

.mobile-mail{
  height: 20%;
  display: flex;
  align-items: center;
}

.mobile-mail > img{
  width: 10%;
}

.mobile-mail > a{
  margin-left: 10px;
  width: fit-content;
  position: relative;
}

.mobile-mail > a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 5%;
  background-color: var(--peach);
  bottom: 0;
  left: 0;
  transition: all .3s;
}

.mobile-mail > a:hover::after{
  width: 100%;
}

.to-contact{
  width: 70%;
  height: 90%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.to-contact h2{
  font-size: 4.2rem;
  color: var(--brown);
  height: 20%;
  width: 60%;
  display: flex;
}

form{
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-around;
}

form input , form textarea, form button{
  width: 90%;
  height: 12%;
  border-radius: 20px;
  border: 2px solid rgba(128, 128, 128, 0.413);
  padding: 10px 20px;
  color: var(--brown);
  font-size: 1rem;
  font-weight: 350;
  outline: none;
}

form textarea{
  height: 30%;
}

form input:focus, form textarea:focus{
  border: 2px solid var(--brown);
  outline: none;
}

form button{
  background-color: var(--brown);
  color: var(--peach);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  cursor: pointer;
  transition: all .3s;
}

form button:hover{
  scale: .95;
}