footer {
    background-color: var(--brown);
    width: 100%;
    height: 60vh;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-head {
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    height: fit-content;
    width: 35%;
    display: flex;
    align-items: center;
}

.footer-logo>h1 {
    font-size: 4.5rem;
    color: var(--peach);
}

.option-cards {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-options {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-options>h3 {
    color: var(--peach);
    letter-spacing: 2px;
    height: 25%;
    font-size: 1.3rem;
    font-family: 'outfit';
}

.footer-options>a {
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 200;
    color: white;
    opacity: 0.6;
}

.footer-options>a:hover {
    opacity: 1;
}


.footer-body {
    height: 20%;
    width: 85%;
    border-top: 1px solid var(--peach);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-info>p,
.built-by>p {
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
}

.built-by a {
    color: white;
    font-size: 1.8rem;
    position: relative;
}

.built-by a::after{
    transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    width: 0%;
    height: 3%;
    background-color: white;
    bottom: 0;
    left: 2px;
}

.built-by a:hover::after{
    width: 98%;
}

.footer-social{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-social img {
    width: 25px;
    opacity: 0.6;
}

.footer-social img:hover{
    opacity: 1;
}