:root {
    --brown: #762E14;
    --orange: #dc6414;
    --peach: #FFD8B9;
    --lpeach: #fff4ef;
    --black: #000;
    --white: #fff;
}

html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--brown) var(--lpeach);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    letter-spacing: 1px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(white 10%, var(--peach));
    padding-top: 6vw;
    position: relative;
}

::selection {
    background-color: var(--brown);
    color: var(--lpeach);
}

button {
    background-color: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Alata';
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--peach);
}

header {
    width: 100%;
    height: 5vw;
    background: linear-gradient(var(--peach), white 80%);
    color: var(--peach);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container h1 {
    color: var(--brown);
    font-size: 2.7rem;
}

nav {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

nav>ul {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

nav>ul span {
    position: absolute;
    width: 25%;
    height: 3%;
    border-radius: 10px;
    background-color: var(--brown);
    left: 4%;
    bottom: 0;
}

nav ul>li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 20%;
    list-style: none;
    font-size: 1rem;
    position: relative;
    opacity: 0.4;
}

ul>li:hover {
    opacity: 1;
}

li:nth-child(2):hover~span {
    left: 37%;
}

li:nth-child(3):hover~span {
    left: 71%;
}

nav ul li a {
    color: var(--brown);
}

.user-containar {
    height: 50%;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-links {
    width: 40%;
    height: 100%;
}

.login,
.signup {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    color: var(--brown);
}

.login {
    border: 1px solid var(--brown);
    background-color: transparent;
}

.login:hover {
    background-color: var(--brown);
    color: var(--white);
}

.signup {
    background-color: var(--brown);
    color: var(--white);
}

.signup:hover {
    box-shadow: 0px 0px 3px var(--brown);
}

.signup:active,
.login:active {
    opacity: 0.7;
}

.search-container {
    width: 50%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
}

.search-container input {
    background-color: var(--lpeach);
    width: 100%;
    height: 70%;
    border: none;
    border-radius: 30px;
    color: var(--brown);
    padding-left: 20px;
    font-size: 1rem;
    border: 1px solid #762e1476;
}

.search-container input:focus {
    outline: 1px solid var(--brown);
    box-shadow: 0px 0px 8px gray;
}

.search-container input::placeholder {
    color: #762e14a5;
}

.search-container .search-btn {
    width: fit-content;
    position: absolute;
    right: 0.7%;
    height: 57%;
    background-color: transparent;
    cursor: pointer;
}

.search-container .search-btn:hover {
    opacity: 0.8;
}

.search-container .search-btn:active {
    opacity: 1;
}

.search-btn img {
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.265);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

#cart-button:checked~.overlay {
    opacity: 1;
    visibility: visible;
}

#cart-button:checked~.cart {
    right: 0;
}

.check {
    display: none;
}

.cart-label {
    height: 100%;
    width: 18%;
    cursor: pointer;
    display: flex;
}

.cart-label img {
    width: 100%;
    height: 100%;
}

.cart-label>h3 {
    display: flex;
    align-items: center;
    color: var(--brown);
}

.cart-back {
    width: 53%;
    height: 100%;
    cursor: pointer;
    transform: rotate(180deg);
    background-color: var(--brown);
    border-radius: 50%;
    padding: 3px;
}

.cart {
    background-color: var(--peach);
    width: 25%;
    position: fixed;
    height: 100%;
    top: 0;
    color: black;
    right: -30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 100vh;
}

.restaurant-name-container {
    width: 100%;
    min-height: 3vh;
    display: flex;
    align-items: center;
}

.restaurant-name-container>#img-con {
    width: 11%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.restaurant-name-container>h3 {
    color: var(--brown);
    display: flex;
    justify-self: flex-end;
}

.location-container {
    width: 95%;
    min-height: 6.5vh;
    border: 1px solid transparent;
    background-color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.location-container:hover,.location-container:active{
    scale: 0.95;
}

.location-container>img {
    width: 6%;
}

.location-container>h3 {
    color: var(--lpeach);
    width: 49.7%;
}

.saved-container {
    width: 95%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 6.5vh;
    border-radius: 13px;
}

.img-con-saved {
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-con-saved>img {
    width: 60%;
}

.saved-container>h3 {
    color: rgb(1, 94, 1);
    width: 68%;
    font-size: 1rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 95%;
    border-radius: 13px;

    align-items: center;
    max-height: fit-content;
}

.timing {
    width: 100%;
    min-height: 6vh;
    display: flex;
    align-items: center;
    border-bottom: 1.4px solid rgba(128, 128, 128, 0.623);

}

.img-timing {
    width: 16%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-timing>img {
    width: 55%;
    height: 75%;
}

.timing>h3 {
    width: 80%;
    color: var(--brown);
}

.items-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 8vh;
    width: 100%;
    align-items: center;
}

.item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
}

.item>h4 {
    height: 60%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-quantity {
    display: flex;
    height: 80%;
    background-color: var(--peach);
    width: 27%;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.update-quantity>h3 {
    font-family: system-ui, sans-serif;
}

.decrement-quantity,
.increment-quantity {
    color: var(--brown);
    background-color: transparent;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    cursor: pointer;
}

.decrement-quantity {
    height: 80%;
    align-self: flex-start; 
}

.decrement-quantity:active,
.increment-quantity:active{
    font-size: 1.8rem;
}

.item-price {
    display: flex;
    height: 60%;
    width: 27%;
    align-items: center;
    justify-content: space-between;
}

.item-price>del {
    font-size: .7rem;
}

.item-price>h3 {
    font-size: 1.4rem;
    color: var(--brown);
}

.coupons-container {
    background-color: white;
    width: 95%;
    min-height: 13vh;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.coupon-heading {
    width: 90%;
    color: var(--brown);
    font-size: .8rem;
    height: 30%;
    align-content: flex-end;
}

.coupon-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 65%;
}

.coupon-img {
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-img>img {
    width: 90%;
}

.coupon-card>.coupon {
    width: 55%;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
}

.coupon-card>button {
    background-color: var(--brown);
    padding: .5em 1.2em;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.coupon-card>button:hover,.coupon-card>button:active{
    scale: 0.9;
}

.coupon>h4:nth-child(2) {
    color: gray;
}

details {
    background-color: white;
    width: 95%;
    min-height: fit-content;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 150px;
    padding: 10px 0px;
    cursor: pointer;
}

.bill-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 5px;
}

.bill-img {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bill-img>img {
    width: 49%;
}

.bill-saving {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bill-saving>h3 {
    font-size: 1rem;
    color: var(--brown);
}

.bill-saving>h4 {
    font-size: .76rem;
    color: rgb(1, 80, 1);
    background-color: rgb(165, 245, 165);
    width: fit-content;
    padding: 0.5% 1%;
    border-radius: 5px;
}

.total-amount {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 58%;
}

.total-amount>h2 {
    color: var(--brown);
}

.order-button {
    background-color: white;
    width: 24%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 9px;
    bottom: 10px;
    position: fixed;
}

.arrows {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrows>img:nth-child(1),
.arrows>img:nth-child(2) {
    width: 40%;
    height: 40%;
}

.arrows>img:nth-child(2) {
    display: none;
}

details[open] .arrows>img:nth-child(1) {
    display: none;
}

details[open] .arrows>img:nth-child(2) {
    display: block;
}

.payment {
    border-bottom: 1.3px solid rgba(128, 128, 128, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.payment>h3 {
    color: var(--brown);
    font-size: 1rem;
}

.but-con {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but-con>button {
    width: 90%;
    height: 80%;
    background-color: var(--brown);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.but-con>button:hover,.but-con>button:active{
    cursor: pointer;
    scale: 0.95;
}

.order-summary {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(128, 128, 128, 0.564);
    width: 100%;
    align-items: center;
}

.hotel-charges,
.delivery-charges {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: .8rem;
    padding: 3px 0px;
    color: rgb(90, 88, 88);
    font-family: system-ui, sans-serif;
}

.charges-summary {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.second-bill {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.second-total {
    width: 35%;
    display: flex;
    justify-content: space-between;
}