.offer-container {
  width: 100%;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--lpeach);
  background: linear-gradient(130deg, var(--brown) 40%, #ff520271);
}

.offer-container:hover {
  filter: brightness(1.3);
}

.items {
  width: 100%;
  height: min(24vw, 50vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--lpeach);
}

.top-head {
  width: 93%;
  height: 20%;
  display: flex;
  align-items: end;
}

.top-head h3 {
  width: 100%;
  font-size: 1.6rem;
}

.top-items {
  width: 96%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-food-info {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.top-food-name {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-food-name p {
  text-align: center;
  color: var(--brown);
}

.top-food-image {
  aspect-ratio: 1/1;
  cursor: pointer;
  width: 73%;
  height: 60%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.top-food-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.top-food-image:hover,
.top-food-image:active {
  scale: 0.97;
}

.food-restaurant {
  width: 100%;
  min-height: 90vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-head {
  width: 90%;
  height: 20%;
  display: flex;
}

.restaurant-head h3 {
  font-size: 1.6rem;
}

.restaurants-container {
  width: 90%;
  min-height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 35vh;
  gap: 50px;
  align-items: center;
}

.restaurant-info {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: flex-end;
  background-color: white;
  border-radius: 17px;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.restaurant-info:hover,
.restaurant-info:active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  scale: 0.97;
}

.restaurant-photo {
  height: 70%;
  width: 90%;
  border-radius: 20px;
  position: relative;
}

.restaurant-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(90%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-photo h4 {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-family: 'outfit';
  font-size: 1.1rem;
  font-weight: 700;
}

.restaurant-details {
  height: 20%;
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-name {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.restaurant-name h4 {
  font-size: 1.05rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: black;
}

.restaurant-name p {
  font-size: 0.85rem;
  color: gray;
}

.restaurant-ratings {
  width: 25%;
  height: 70%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.restaurant-ratings h5 {
  color: black;
}

.restaurant-ratings>img {
  width: 27%;
}

.most-ordered {
  width: 100%;
  height: min(24vw, 50vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lpeach);
}

.most-head {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
}

.most-head h3 {
  font-size: 1.6rem;
}

.ordered-food {
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.most-ordered-foods {
  width: 21%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.most-ordered-foods:hover {
  scale: 0.97;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.ordered-foods-image {
  width: 90%;
  height: 65%;
  border-radius: 8px;
  cursor: pointer;

}

.ordered-foods-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.ordered-foods-name {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  color: black;
}

.most-order-details {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.most-order-food-name {
  width: 100%;
  font-size: 1.15rem;
  height: 50%;
}

.order-place {
  white-space: nowrap;
  font-size: 0.85rem;
  color: gray;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orginal-price {
  font-size: 0.75rem;
}

.offer-price {
  font-size: 1.2rem;
  color: var(--brown);
}

.order-ratings {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.order-price {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: last baseline;
  justify-content: space-around;
}

.star-rating {
  width: 90%;
  height: 43%;
  display: flex;
  align-items: last baseline;
  justify-content: end;
}

.star-rating img {
  width: 20%;
  height: 70%;
}

.customer-review {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review-head {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
}

.review-head h3 {
  font-size: 1.6rem;
}

.review-info {
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer-review-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 90%;
  border-radius: 30px;
  background: linear-gradient(130deg, var(--brown) 70%, #ff520265);
}

.customer-review-card {
  height: 60%;
  width: 85%;
}

.customer-review-card>p {
  color: var(--lpeach);
  font-style: italic;
  font-size: 1.05rem;
}

.review-details {
  height: 20%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--peach);
}

.review-details>h5 {
  font-size: 1.3rem;
  color: white;
}

.rating-stars img {
  width: 20px;
}