body{
  min-height: 100vh;
  height: auto;
}


.gotoCart-popup{
  display: none !important;
}

.heading{
  height: 10vh;
  width: 77%;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--brown);
}

.orders-container{
  min-height: 80vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
  height: fit-content;
  padding-bottom: 40px;
  padding-top: 10px;
  gap: 40px 0;
}

.order{
  background-color: white;
  height: 38vh;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.447);
  width: 90%;
}

.order-cont{
  height: 55%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.order-details{
  width: 70%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.order-details > h2{
  color: var(--brown);
}

.order-details > p:nth-child(4) {
  color: green;
  font-weight: 400;
}

.order-details > a {
  color: var(--brown);
  font-weight: 400;
}

.reorder-options{
  width: 30%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delivered-date > p{
  color: green;
  font-weight: 400;
}

.reorder-button{
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.reorder-button > a {
  width: 40%;
  border-radius: 8px;
  height: 100%;
}

.reorder-button a button{
  width: 100%;
  border-radius: 7px;
  font-weight: 400;
  height: 100%;
  cursor: pointer;
}

.reorder-button > a:nth-child(2) button {
  background: linear-gradient(130deg, var(--brown), #ff520271);
  color: white;
  font-size: 1rem;
}

.reorder-button > a:nth-child(1) button:hover {
  background: var(--lpeach);
}

.reorder-button > a:nth-child(1) button:active {
    background: rgb(250, 241, 231);
}

.reorder-button > a:nth-child(1) button {
  border: 1px solid var(--brown);
  color: var(--brown);
  font-size: 1rem;
  background-color: white;
}

.reorder-button > a:nth-child(2) button:hover {
  filter: brightness(1.2);
}

.order-help{
  height: 30%;
  border-top: 1px solid var(--orange);
  width: 95%;
  display: flex;
  align-items: center;
}

.help-button{
  padding: 15px 25px;
  background: linear-gradient(130deg, var(--brown), #ff520271);
  color: var(--lpeach);
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
}

.help-button:hover{
  filter: brightness(1.2);
}