body{
  height: 100vh;
}

.heading{
  height: 10vh;
  width: 77%;
  font-size: 2rem;
  font-weight: 400;
  color: var(--brown);
  display: flex;
  align-items: center;
}

.ordered-details{
  background-color: white;
  width: 77%;
  height: 75vh;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.full-section{
  width: 87%;
  height: 50%;
  display: flex;
}

.left-container{
  width: 50%;
  height: 100%;
}

.restaurant-name{
  height: 30%;
}

.food-details{
  height: 75%;
  display: flex;
  flex-direction: column;
}

.date-time, .item1, .item2, .delivery-date{
  display: flex;
  height: 20%;
  width: 65%;
  justify-content: space-between;
}

.delivery-date, .delivery-agent{
  color: green;
}

.food-details  p{
  font-weight: 400;
}

.right-container{
  height: 89%;
  width: 50%;
  align-self: flex-end;
  position: relative;
}

.map{
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}

.map > .restaurant, .map > .user{
  display: flex;
  width: 38%;
  justify-content: space-around;
}

.map > .user{
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.image{
  width: 12%;
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user > .image{
  width: 15%;
}

.image > img{
  width: 60%;
  height: 70%;
}

.restaurant > p, .user > p{
  font-weight: 400;
  font-size:  1.1rem;
}

.right-container::after{
  content: '';
  position: absolute;
  height: 62%;
  width: 0px;
  border: 2px dashed gray;
  top: 8.5%;
  left: 2.3%;
}

.bill-container{
  height: 40%;
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bill-details{
  height: 80%;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.total, .hotel, .discount, .delivery, .total-bill{
  display: flex;
  justify-content: space-between;
}

.bill-details p{
  font-weight: 400;
}

.discount > p:nth-child(2){
  color: green;
}

.delivery > p:nth-child(2){
  color: green;
}

.total-bill{
  color: var(--brown);
  font-size: 1.3rem;
}

.total-bill p{
  font-weight: 500;
}

.right-section{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.reorder-button{
  height: 30%;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.reorder-button > button {
  width: 40%;
  border-radius: 8px;
  font-weight: 400;
}

.reorder-button > button:nth-child(1) {
  background-color: var(--brown);
  color: white;
  font-size: 1rem;
}

.reorder-button > button:nth-child(1):hover {
  scale: .9;
  cursor: pointer;
}

.reorder-button > button:nth-child(2) {
  border: 1.5px solid var(--brown);
  color: var(--brown);
  font-size: 1rem;
  background-color: white;
}

.reorder-button > button:nth-child(2):hover {
  scale: .9;
  cursor: pointer;
}

.route{
  width: 100%;
  height: .2%;
  background-color: gray;
}