.restaurant-main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Outfit';
}

.restaurant-head {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 35vh;
  background: linear-gradient(130deg, var(--brown) 40%, #ff520271);
  justify-content: space-around;
}

.title-offer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-offer>h4 {
  color: white;
  font-size: 1.4rem;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-offer>h2 {
  font-size: 2rem;
  color: var(--peach);
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer>img {
  width: 6%;
}

.offer>h4 {
  font-size: 1.3rem;
  width: 30%;
  color: white;
  margin-left: 10px;
}

.details-restaurant {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-restaurant ul {
  display: flex;
  width: 60%;
  justify-content: space-around;
  color: white;
  font-size: 1.2rem;
}

.ratings-container {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratings-container>img {
  width: 2%;
}

.ratings-container>h3 {
  color: white;
  font-size: 1.2rem;
}

.restaurant-body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 260px;
  gap: 3em 10em;
  padding: 6em;
}

.card-food-item {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.item-image {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image>img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.item-details {
  width: 45%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-name {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-name>img {
  width: 12%;
  height: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.item-name>h3 {
  font-size: 1.1rem;
}

.item-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.item-cost>h2 {
  font-size: 1.2rem;
  color: var(--brown);
}

.item-cost>del {
  font-size: .9rem;
}

.item-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.item-review>h4 {
  font-size: .9rem;
}

.item-review>img {
  width: 40%;
}

.item-add {
  width: 35%;
  height: 20%;
  background-color: var(--peach);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 2px var(--brown);
}

.item-add>span {
  font-weight: 400;
  font-family: system-ui;
}


.wait-animation {
  width: 20%;
  height: 0%;
  background-color: var(--brown);
  position: absolute;
  bottom: 0%;
  left: 3%;
  border-radius: 10px;
}

@keyframes waiter {
  from {
    left: 3%;
  }

  to {
    left: 77%;
  }
}

.addBtn {
  background: linear-gradient(130deg, var(--brown) 40%, #ff520271);
  color: white;
  border-radius: 7px;
  font-size: .9rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn:hover {
  scale: 0.97;
}

.quantity-btn {
  height: 100%;
  justify-content: space-around;
  font-family: 'Outfit';
  cursor: default;
  font-weight: 500;
}

.min-btn,
.max-btn {
  color: var(--brown);
  background-color: transparent;
  font-size: 1.2rem;
  height: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--brown);
  padding-bottom: 1px;
  font-weight: 500;
}

.min-btn {
  padding-bottom: 3px;
}

.min-btn:active,
.max-btn:active {
  background-color: var(--brown);
  color: var(--peach);
}

.restaurant-overlay{
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.126);
}

.login-addItems-popup{
  background-color: white;
  flex-direction: column;
  width: 35%;
  height: 350px;
  border-radius: 15px;
  display: none;
  position: fixed;
  top: 20%;
  z-index: 1000;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.146);
}
.close-btn{
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
  margin-top: 5px;
}

.close-border{
  height: 40%;
  width: 6.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.3px solid gray;
  padding-bottom: 3px;
  padding-left: 1.6px;
}

.close-border > p{
  padding: 9px;
  cursor: pointer;
  font-size: 1.3rem;
  color: gray;
}

.info-touser{
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: left;
  height: 40%;
}

.info-touser .heading{
  height: 60%;
  color: var(--brown);
}

.info-touser p{
  height: 20%;
  font-weight: 500;
}

.signup-login-btns{
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.signup-login-btns a{
  margin: 20px;
  width: 23%;
  height: 30%;
}

.signup-login-btns a > button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.signup-login-btns a:nth-child(1) > button{
  background-color: white;
  border: 1.5px solid var(--brown);
}

.signup-login-btns a:nth-child(2) > button{
  background: linear-gradient(130deg ,var(--brown),#ff520271);
  border: none;
  color: white;
}

.signup-login-btns a:nth-child(1) > button:hover{
  background: linear-gradient(130deg ,var(--brown),#ff520271);
  border: 1px solid var(--brown);
  color: white;
}

.signup-login-btns a:nth-child(2) > button:hover{
  box-shadow: 0px 0px 3px var(--brown);
}